<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>
</head>
    <body ng-controller="MainController as ctrl">
        <h2>Here is some math: {{ 111*2123 }}</h2>
        <input type="text"
               ng-model="name"
               placeholder="Enter the name">

        <h2>{{ ctrl.message }} <span ng-bind="name"></span></h2>
        <button ng-click="ctrl.changeMessage()">Change the message!</button>

        <script src="scripts/angular.min.js"></script>
        <script type="text/javascript">
        angular.module('notesApp', [])
            // controller takes controller's name and the array. 
            // First items are dependencies' names and the rest is the controller function 
            .controller('MainController', [function(){
                console.log('MainController has been created.');
                this.message = 'Hello';
                this.changeMessage = function() {
                    if (this.message === 'Hello') {
                        this.message = 'Goodbye';
                    } else {
                        this.message = 'Hello';
                    }
                };
            }]);
        </script>
    </body>
</html>