<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>
</head>
    <body ng-controller="MainController as ctrl">
        <h2>Here is some math: {{ 111*2123 }}</h2>
        <input type="text"
               ng-model="name"
               placeholder="Enter the name">

        <h2>{{ ctrl.message }} <span ng-bind="name"></span></h2>
        <button ng-click="ctrl.changeMessage()">Change the message!</button>
        
        <div ng-repeat="note in ctrl.notes">
            <input type="checkbox" ng-model="note.done"></input>
            <span class="is_done">{{ note.text }}</span>
        </div>


        <script src="scripts/angular.min.js"></script>
        <script type="text/javascript">
        angular.module('notesApp', [])
            // controller takes controller's name and the array. 
            // First items are dependencies' names and the rest is the controller function 
            .controller('MainController', [function(){
                console.log('MainController has been created.');
                // it's better to use proxy object for 'this' var to be sure, that the correct 
                // the correct 'this' instance is used
                var self = this;
                self.message = 'Hello';

                self.changeMessage = function() {
                    if (self.message === 'Hello') {
                        self.message = 'Goodbye';
                    } else {
                        self.message = 'Hello';
                    }
                };

                self.notes = [
                    {id: 1, text: 'Note 1', done: true},
                    {id: 2, text: 'Note 2', done: true},
                    {id: 3, text: 'Note 3', done: true},
                    {id: 4, text: 'Note 4', done: false},
                    {id: 5, text: 'Note 5', done: false},
                ];
            }]);
        </script>
    </body>
</html>